<%- include('../../shares/includes/head',{pageTitle:'buy something'}) %>
    <link rel="stylesheet" href="/Style/cart.css">
    <script src="/Script/cart-items-update.js" defer></script>
    </head>

    <body>
        <%- include('../../shares/includes/header') %>
            <main>
                <h1>Your Cart </h1>
                <ul id="cart-items">
                    <% for(const cartItem of locals.cart.items ) { %>
                        <li>
                            <%- include('includes/cart-items',{item:cartItem}) %>
                        </li>
                        <% } %>

                </ul>
                <div id="cart-total">
                    <p>Total:<span id="totalID">₹<%= locals.cart.totalPrice %>/--</span>
                    </p>
                    <% if (locals.isAuth) { %>
                        <form action="/orders" method="post">
                            <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
                            <button class="btn"> Buy Product</button>
                        </form>

                        <% }else{ %>
                            <p>You need to log in to buy a product.</p>
                            <% }%>


                </div>
            </main>
            <%- include('../../shares/includes/footer') %>