<%- include('../../shares/includes/head',{pageTitle:'buy something'}) %>
    <link rel="stylesheet" href="/Style/cart.css">
    <script src="/Script/cart-items-update.js" defer></script>
    </head>

    <body>
        <%- include('../../shares/includes/header') %>
            <main>
                <h1>Your Cart </h1>
                <ul id="cart-items">
                    <% for(const cartItem of locals.cart.items ) { %>
                        <li>
                            <%- include('includes/cart-items',{item:cartItem}) %>
                        </li>
                        <% } %>

                </ul>
                <div id="cart-total">
                    <p>Total:<span id="totalID">₹<%= locals.cart.totalPrice %>/--</span> 
                    </p>
                    <button class="btn"> Buy Product</button>
                </div>
            </main>
            <%- include('../../shares/includes/footer') %>